<div class="row container-fluid">
  <app-search-movie></app-search-movie>
  <div class="row">
    <div class="film-item" *ngFor="let film of filmStore.store$ | async">
      <div class="film-container row" >
        <div class="images img-fluid" [routerLink]="'movie/'+ film.Id">
          <img class="image" [src]="film.image" alt="">
        </div>
        <div class="film-info" [routerLink]="'movie/'+ film.Id">
          <div class="film-about">
            <div class="film-name align-middle">{{film.name}}</div>
            <div class="film-description">{{film.description}}</div>
          </div>
        </div>
        <div class="film-price ">{{film.price}} ₽</div>
        <button class="btn btn-primary" (click)="filmToBasket(film)">{{cartSetvice.isSelected(film)}}</button>
      </div>
    </div>
  </div>
</div>
