@use "../../styles";

.film-info {
  margin: auto;
  position: relative;
  padding: 5px;
  font-family: "SF Pro Text", sans-serif;
  color: #333;
  height: 45%;
}

.image {
  height: 320px;
  width: 220px;
}

.images {
  @include styles.flex-center;
  height: 45%;
}

.film-price {
  font-size: large;
  font-weight: 500;
  font-style: italic;
  color: #333;
  display: block;
  margin-bottom: 0px;
}

.film-container {
  @include styles.flex-center;
  width: 22rem;
  margin: 3px;
  border-radius: 10px;
  padding: 20px;
  border: 1px solid #e0e0e0;
  height: 45rem;
  display: block;
}

.film-item {
  margin: auto;
}

.film-name{
  @include styles.flex-center;
  min-height: 100px;
  font-size: 18px;
}

.total-cart {
  width: 100%;
  font-size: 30px;
}
